body {
    height: 100%;
    overflow-x: hidden;
}

.bg-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(0.6);
    positon: relative;
}   

.navbar {
    transition: all 0.5s;
    height: 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
}

.navbar-scrolled {
    background-color: darkblue;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
}



.overlay {
    position: absolute;
    top: 10%;
    right: 30%;
    font-weight: bold;
    font-size: 30px;
}
.overlay1 {
    position: absolute;
    top: 20%;
    right: 55%;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: white;
    
}

  .overlay2 {
    position: absolute;
    top: 65%;
    right: 50%;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
    color: white;
    
}
.overlay3 {
    position: absolute;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
    color: white;
    top: 70%;
    right: 50%;

}
.overlay4 {
    position: absolute;
    font-weight: bold;
    font-size: 90px;
    text-align: left;
    color: white;
    top: 75%;
    right: 50%;

}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animation {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 slideInFromLeft;

  padding: 30px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* This section calls the slideInFromRight animation we defined above */
.animation1 {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
@keyframes slideInFromDown {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  /* This section calls the slideInFromUp animation we defined above */
  .animation2 {
    animation: 1s ease-out 0s 1 slideInFromDown;
  }
  @keyframes slideInFromUp {
    100% {
      transform: translateY(0%);
    }
    0% {
      transform: translateY(-100%);
    }
  }
  /* This section calls the slideInFromUp animation we defined above */
  .animation3 {
    animation: 1s ease-out 0s 1 slideInFromUp;
  }
.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}
.paragraph {
  padding: 10%;
}
.paragraphimg {
  padding: 10%;
  border-radius: 2px;
}
